#menuBtnGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    button {
        background: rgb(27, 27, 121);
        height: min-content;
        margin: 10rem 0;
    }    

    div button {
        margin: 10rem 2.5px;
    }
}


