$light_pink: #f0b8d8;
$dark_pink: #5f0337;

div.section {
    border: solid 1px $dark_pink;
    font-weight: bold;
    & , div.badges {
        margin: 20px 10px;
    }
    

    .mat-badge {
        background: $light_pink;
        font-weight: normal;
        margin: 20px;
        padding: 5px;
    }

    
}