<div>
    <h1>Primary</h1>
    <button mat-button color="primary">Mat</button>
    <button mat-raised-button color="primary" >MatRaised</button>
    <button mat-flat-button color="primary" >Flat</button>
    <button mat-stroked-button color="primary">Stroked</button>    
    <button mat-icon-button color="primary">Icon</button>
    <button mat-fab color="primary">Fab</button>
    <button mat-mini-fab color="primary">MiniFab</button>
</div>

<div>
    <h1>Accent</h1>
    <button mat-button color="accent">Mat</button>
    <button mat-raised-button color="accent" >MatRaised</button>
    <button mat-flat-button color="accent" >Flat</button>
    <button mat-stroked-button color="accent">Stroked</button>    
    <button mat-icon-button color="accent">Icon</button>
    <button mat-fab color="accent">Fab</button>
    <button mat-mini-fab color="accent">MiniFab</button>
</div>

<div>
    <h1>Warn</h1>
    <button mat-button color="warn">Mat</button>
    <button mat-raised-button color="warn" >MatRaised</button>
    <button mat-flat-button color="warn" >Flat</button>
    <button mat-stroked-button color="warn">Stroked</button>    
    <button mat-icon-button color="warn">Icon</button>
    <button mat-fab color="warn">Fab</button>
    <button mat-mini-fab color="warn">MiniFab</button>
</div>


    
    





