<div class="section" id="div1">
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="autocomplete">Autocomplete</mat-button-toggle>
    <mat-button-toggle value="badges">Badges</mat-button-toggle>
    <mat-button-toggle value="buttons">Buttons</mat-button-toggle>
    <mat-button-toggle value="buttonToggle">Button toggle</mat-button-toggle>
    <mat-button-toggle value="cards">Cards</mat-button-toggle>
    <mat-button-toggle value="checkbox">Checkbox</mat-button-toggle>  
    <mat-button-toggle value="datePicker">Date Picker</mat-button-toggle> 
    <mat-button-toggle value="dialogues">Dialogues</mat-button-toggle>  
    <mat-button-toggle value="expansionPanel">Expansion Panel</mat-button-toggle>
    <mat-button-toggle value="grids">Grids</mat-button-toggle>
    <mat-button-toggle value="icons">Icons</mat-button-toggle>
    <mat-button-toggle value="input">Input</mat-button-toggle>
    <mat-button-toggle value="lists">Lists</mat-button-toggle>
    <mat-button-toggle value="menus">Menus</mat-button-toggle>
    <mat-button-toggle value="navbar">Navbar</mat-button-toggle>
    <mat-button-toggle value="progressSpinner">Progress Spinner</mat-button-toggle>
    <mat-button-toggle value="select">Select</mat-button-toggle>
    <mat-button-toggle value="sidenav">Sidenav</mat-button-toggle>
    <mat-button-toggle value="snackbar">Snack Bar</mat-button-toggle>
    <mat-button-toggle value="stepper">Stepper</mat-button-toggle>
    <mat-button-toggle value="table">Table</mat-button-toggle>
    <mat-button-toggle value="tabs">Tabs</mat-button-toggle>
    <mat-button-toggle value="test">Test</mat-button-toggle>
    <mat-button-toggle value="typing">Typing</mat-button-toggle>  
    <mat-button-toggle value="tooltip">Tooltip</mat-button-toggle>
  </mat-button-toggle-group>       
</div>

<div id="div2">
    <app-buttons *ngIf="group.value == 'buttons'"></app-buttons>
    <app-typing *ngIf="group.value == 'typing'"></app-typing>
    <app-button-toggle *ngIf="group.value == 'buttonToggle'"></app-button-toggle>
    <app-icons *ngIf="group.value == 'icons'"></app-icons>
    <app-badges *ngIf="group.value == 'badges'"></app-badges>
    <app-progress-spinner *ngIf="group.value == 'progressSpinner'"></app-progress-spinner>
    <app-navbar *ngIf="group.value == 'navbar'"></app-navbar>
    <app-sidenav *ngIf="group.value == 'sidenav'"></app-sidenav>
    <app-menus *ngIf="group.value == 'menus'"></app-menus>
    <app-lists *ngIf="group.value == 'lists'"></app-lists>
    <app-grids *ngIf="group.value == 'grids'"></app-grids>
    <app-expansion-panel *ngIf="group.value == 'expansionPanel'"></app-expansion-panel>
    <app-cards *ngIf="group.value == 'cards'"></app-cards>
    <app-tabs *ngIf="group.value == 'tabs'"></app-tabs>
    <app-stepper *ngIf="group.value == 'stepper'"></app-stepper>
    <app-input *ngIf="group.value == 'input'"></app-input>
    <app-select *ngIf="group.value == 'select'"></app-select>
    <app-autocomplete *ngIf="group.value == 'autocomplete'"></app-autocomplete>
    <app-checkbox *ngIf="group.value == 'checkbox'"></app-checkbox>
    <app-date-picker *ngIf="group.value == 'datePicker'"></app-date-picker>
    <app-tooltip *ngIf="group.value == 'tooltip'"></app-tooltip>
    <app-snackbar *ngIf="group.value == 'snackbar'"></app-snackbar>
    <app-dialogues *ngIf="group.value == 'dialogues'"></app-dialogues>
    <app-mat-table *ngIf="group.value == 'table'"></app-mat-table>
    
    <div *ngIf="group.value == 'test'">
      <h1>{{message}}</h1>
      <app-test
       [parentData]="name"
       (childEvent)="message=$event">
      </app-test>
    </div>
       
</div>