<div id="input">
    <mat-form-field>
        <mat-label>Default</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field floatLabel="never">
        <mat-label>floatLabel="never"</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field floatLabel="always">
        <mat-label>floatLabel="always"</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Required</mat-label>
        <input matInput required>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
        <mat-label>Required with hideRequiredMarker</mat-label>
        <input matInput required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Hint</mat-label>
        <input matInput>
        <mat-hint >Min 5 characters</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Hint align="end"</mat-label>
        <input matInput>
        <mat-hint align="end">Min 5 characters</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>appearance="legacy"</mat-label>
        <input matInput>
        <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>appearance="standard"</mat-label>
        <input matInput>
        <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>appearance="fill"</mat-label>
        <input matInput>
        <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>appearance="outline"</mat-label>
        <input matInput>
        <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field>
</div>

